<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="../stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="shortcut icon" href="../favicon.png">
  </head>
  <body>
    <div id='wrapper'>
      <div class='header'>
        <h1><a href="../">Bitcoin</a></h1>
        <h2>{{ page.title }}</h2>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='../'>Home</a></li>
          <li><a href='./'>Book</a></li>
        </ul>
      </div>
      <div class='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>
    </div>
    <div id='footer'>
      <a href='http://github.com/happypeter/bitcoin_basics' target='_blank'>Code on GitHub, click here to contribute</a>.
    </div>
  </body>
</html>

