<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>{{ page.title|| "Bitcoin Basics"}}</title>
    <link rel="stylesheet" href="/bitcoin_basics/stylesheets/master.css" type="text/css" media="screen" charset="utf-8"/>
    <link rel="shortcut icon" href="/bitcoin_basics/favicon.png">
  </head>
  <body>
    <div id='wrapper'>
      <div id='header'>
        <h1>Bitcoin</h1>
        <h2>快乐新知比特币</h2>
      </div>
      <div id='menu'>
        <ul>
          <li><a href='/bitcoin_basics/'>Home</a></li>
          <li><a href='/bitcoin_basics/book'>Book</a></li>
        </ul>
      </div>
      <div class='content'>
        {{ content }}
        <div class='clearfix'></div>
      </div>
    </div>
    <div id='footer'>
     <a href='http://github.com/happypeter/bitcoin_basics' target='_blank'>Code on GitHub, click here to contribute</a>.
    </div>
  </body>
</html>

